.list-container {
  width: 25%;
  height: 80vh;
  border: 10px solid #ff7704;
  border-radius: 20px 0 0 20px;
  background: url(messageBG.png) no-repeat center center;
  background-size: cover;
  padding: 20px;
  overflow-y: auto;
  margin-left: 1vw;
}
@media (max-width: 768px) {
  .list-container {
    background-position-x: center; /* Center the background image */
    padding: 10px; /* Reduce padding */
    margin-left: 0; /* Reset margin */
  }
}

@media (max-width: 480px) {
  .list-container {
    border: 5px solid #ff7704; /* Adjust border size for very small screens */
    padding: 5px; /* Further reduce padding */
  }
}

.employee-item {
  padding: 10px;
  margin: 5px 0;
  flex-direction: column;
  height: 10vh;
  background-color: #ddd;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .employee-item {
    justify-items: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
  }
}

.employee-item.selected {
  background-color: #ababab;
}

.employee-item:hover {
  background-color: #e0e0e0;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .employeee {
    display: none;
  }
}
