.Message-container {
  display: flex;
  height: 100vh;
  max-width: 99%;
  padding-top: 10px;
  border-radius: 10px;
  justify-content: center;
  border: 5px solid #ff7704;
  align-items: center;
  align-content: center;
  justify-items: center;
  margin: 2vw;
}

@media (max-width: 768px) {
  .Message-container {
    padding-top: 0px;
  }
}
