.display-container {
  flex: 1;
  background-color: #ddd;
  height: 100vh;
  overflow-y: auto;
  background: url(messageBG.png) no-repeat center left;
  background-size: cover;
  margin-left: 10px;
}

.message-bubble {
  background-color: #ff7704;
  color: #fff;
  text-align: left;
  padding: 10px;
  border-radius: 20px;
  margin: 10px 0px 10px 0;
  display: inline-block;
  max-width: 90%;
  float: left;
  clear: both;
}

.message-bubble img {
  height: 30vh;
  width: 40vh;
  border-radius: 10px;
}

.employee-name {
  background-color: #ff7704;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  text-align: center;
}
