.notes-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  align-items: flex-start; /* Corrected to flex-start for vertical alignment */
  overflow: hidden;
}

.note {
  width: calc(100% - 30px);
  max-width: 20vw;
  height: 20vw;
  margin: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border: 2px solid #f1f1f1;
  transition: transform 0.5s ease-in-out;
}

.note:hover {
  transform: scale(1.05);
}

.pin {
  width: 15px;
  height: 15px;
  background-color: #fff;
  border: 5px solid #ff7704;
  border-radius: 50%;
  position: absolute;
  top: -10px; /* Adjusted top to ensure full visibility */
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.note-content {
  padding: 20px;
  margin: 10px;
  font-family: Poppins, sans-serif;
  text-align: justify;
  font-size: 16px;
  height: calc(100% - 40px); /* Subtract padding and margin */
  overflow-y: scroll; /* Use overflow-y for vertical scrolling */
  -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
  scrollbar-width: none; /* Hide scrollbar for Firefox */
}

.note-content::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.note img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .note {
    max-width: 25vw;
    height: 25vw;
  }
}

@media only screen and (max-width: 992px) {
  .note {
    max-width: 30vw;
    height: 30vw;
  }
}

@media only screen and (max-width: 768px) {
  .note {
    max-width: 40vw;
    height: 40vw;
  }
}

@media only screen and (max-width: 600px) {
  .notes-grid {
    padding: 20px;
  }

  .note {
    width: 90%;
    height: auto; /* Remove fixed height */
    max-height: 300px; /* Add max-height for mobile */
    align-items: center;
    overflow: auto; /* Enable scrolling */
    flex-basis: 100%; /* Take full width on mobile */
  }

  .note-content {
    font-size: 14px; /* Adjust font size for smaller screens */
    height: auto; /* Adjust height for mobile */
  }
}

@media only screen and (max-width: 480px) {
  .note {
    width: 100%;
    height: auto;
    margin: 10px 0; /* Adjust margin for smaller screens */
    flex-basis: 100%; /* Take full width on mobile */
    font-size: 5px;
  }

  .note-content {
    font-size: 12px; /* Further adjust font size for very small screens */
  }
}
